body {
    background-color: aliceblue;
    border: black dotted;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgb(165, 42, 165);
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

img {
    height: 550px;
    width: 550px;
}
.note {
    font-size: 20px;
    justify-items: center;
}
h2 {
    background-color: rgb(165, 42, 165);
    color: black;
    text-align: center;
    font-size: 40px;

}
.section {
    font-size: 20px;
    justify-items: center;
}
h3 {
    background-color: rgb(165, 42, 165);
    color: black;
    text-align: left;
    font-size: 25px;
}
.click {
    font-size: 20px;
    justify-items: center;
}




